        <nav class="navbar">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav navbar-right">
                    {{#if session.user}}
                        <form class="navbar-form navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{session.user.userName}}&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="userMenu">
                                    <li><a href="/userHistory">User History</a></li>
                                    <li><a href="/logout">Log Out</a></li>
                                </ul>
                            </div>
                        </form>
                    {{else}}
                        <form class="navbar-form navbar-right">
                            <a href="/register" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
                            <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
                        </form>
                    {{/if}}
                </ul>

                <ul class="navbar-nav">
                    {{#navLink "/Shop"}}Shop{{/navLink}}
                    {{#navLink "/About"}}About{{/navLink}}
                    {{#navLink "/Items"}}Items{{/navLink}}
                    {{#navLink "/Categories"}}Categories{{/navLink}}
                    {{#navLink "Items/add" "Add Items"}}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url}}">{{text}}</a>
                        </li>
                    {{/navLink}}  
                </ul>
            </div>
        </nav>

    <div class="container" style="padding-top: 90px;">
        {{{body}}}
    </div>

    <ul class="navbar-nav">
        {{#navLink "Items/add" "Add Post"}}
            <li class="nav-item">
                <a class="nav-link" href="{{url}}">{{text}}</a>
            </li>
        {{/navLink}}
    </ul>

