<div class="collapse navbar-collapse" id=""navbarNav">
    <ul class=""navbar-nav">
    {{#navLink "/Shop"}}Shop{{/navLink}}
    {{#navLink "/About"}}About{{/navLink}}
    {{#navLink "/Items"}}Items{{/navLink}}
    {{#navLink "/Categories"}}Categories{{/navLink}}
     {{#navLink "Items/add" "Add Items"}}
        <li class="nav-item">
            <a class="nav-link" href="{{url}}">{{text}}</a>
        </li>
    {{/navLink}}  
    </ul>
</div>
        
     <div class="container" style="padding-top: 90px;">
     {{{body}}}
        </div>

        <ul class="navbar-nav">
    
    {{#navLink "Items/add" "Add Post"}}
        <li class="nav-item">
            <a class="nav-link" href="{{url}}">{{text}}</a>
        </li>
    {{/navLink}}
</ul>
