
<div class="row">
    <div class="col-md-12">
       <div class="table-responsive">
      <table class="table">
     <thead>
            <tr>
                        
         <th>Item ID</th>
                        <th>Title</th>
                        <th>Post Date</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{postDate}}</td>
          <td><a href="/items?category={{category}}">{{category}}</a></td>
          <td>{{published}}</td>
          <td><a href="items/delete/{{id}}" class="btn btn-danger">Remove</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/Items/add" class="btn btn-success pull-right">Add Item</a>
</div>

